{% extends('layout.admin') %}

{% block content %}
    <div class="container-fluid">
        <p class="display-4">Просмотр тем</p>
        <div class="row">
            <div class="col-md-12">
                <table class="table table-hover table-bordered table-condensed">
                    <thead>
                    <tr>
                        <th>
                            №
                        </th>
                        <th>
                            Название
                        </th>
                        <th>
                            Количество вопросов
                        </th>
                        <th>
                            Количество опубликованных вопросов
                        </th>
                        <th>
                            Количество вопросов без ответа
                        </th>
                        <th>
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for item in result %}
                        <tr>
                            <td>
                                {{ loop.index0 + 1 }}
                            </td>
                            <td>
                                {{ item.name }}
                            </td>
                            <td>
                                {{ item.QNum }}
                            </td>
                            <td>
                                {{ item.QPubNum }}
                            </td>
                            <td>
                                {{ item.QNum - item.ANum }}
                            </td>
                            <td>
                                <a href="{{ route('deleteTheme') ~ '/' ~ item.id }}">Удалить</a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>

                <div class="form-group">
                    <a href="{{ route('addTheme') }}" class="btn btn-primary">Добавить</a>
                </div>

                </form>
            </div>
        </div>
    </div>
{% endblock content %}

{% block init_scripts %}
{% endblock init_scripts %}